<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Login</string>
		<string>AutoLogin</string>
		<string>Logout</string>
		<string>CurrentAccount</string>
		<string>isLogined</string>
	</array>
	<array/>
</array>
</plist>
